@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
}

@-webkit-keyframes scale-up-hor-right {
  0% {
    -webkit-transform: scaleX(0.4);
    transform: scaleX(0.4);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
  }
  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
  }
}
@keyframes scale-up-hor-right {
  0% {
    -webkit-transform: scaleX(0.4);
    transform: scaleX(0.4);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
  }
  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
  }
}
.scale-up-hor-right {
  -webkit-animation: scale-up-hor-right 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: scale-up-hor-right 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 115%;
  background: radial-gradient(189.96% 61.18% at 50% 38.82%, rgba(255, 181, 72, 0) 0%, rgba(52, 44, 29, 0.8) 73.22%, #08090a 99.74%);
  /* inset: 0px; */
  object-fit: contain;
  background-repeat: no-repeat;
  margin: 0;
  bottom: -5px;
}
.button-bg {
  background: linear-gradient(195deg, #ffb548 11.27%, #f3af34 90.4%);
}
.button-bg:hover {
  background: #010101;
}

#about::before {
  opacity: 0.9;
  background: #010101;
  width: 100%;
  height: 110%;
  inset: 0px;
  position: absolute;
  content: "";
  top: 0;
}
.about_gradient {
  background: radial-gradient(136.03% 54.57% at 50% 48.04%, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0) 60.63%, #080a0b 99.74%);
  position: absolute;
  inset: 0px;
  width: 100%;
  height: 100%;
  bottom: 0px;
  top: 0px;
}
#about::after {
  opacity: 0.9;
  background: linear-gradient(0deg, #000 0%, rgba(15, 15, 15, 0) 71.81%);
  position: absolute;
  inset: 0px;
  width: 100%;
  height: 100%;
  content: "";
}
#feature::before {
  width: 100%;
  height: 100%;
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  inset: 0px;
  background: url("/assets/feature.png");
}
#feature::after {
  background: radial-gradient(42.52% 48.87% at 35.97% 46.41%, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0) 19.2%, rgba(4, 5, 6, 0.52) 47.48%, #000 99.74%);
  content: "";
  width: 100%;
  height: 105%;
  position: absolute;
  bottom: 0;
  inset: -5px 0px 0px 0px;
}

#requirments::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
  top: 0;
  bottom: 0;
  background: radial-gradient(50% 49.23% at 64.32% 47.1%, rgba(255, 255, 255, 0) 3.36%, rgba(0, 0, 0, 0) 19.22%, #010101 99.74%);
}
#requirments::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
  top: 0;
  bottom: 0;
  opacity: 0.9;
  background: linear-gradient(0deg, #000 0%, rgba(15, 15, 15, 0) 71.81%);
}

#quote::before {
  background: url("/assets/quote.png");
  /* background: #1a1917; */
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
  top: 0;
  bottom: 0;
}

#quote::after {
  background: radial-gradient(57% 62.08% at 40.14% 44.6%, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0) 38.28%, #010101 99.74%);
  content: "";
  widows: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  inset: 0;
}
.newsletter::before {
  background: radial-gradient(47.45% 45.54% at 50% 50%, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0) 46.15%, #010101 99.74%);
  position: absolute;
  content: "";
  width: 446px;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0px;
}
.input-bg {
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.08);
}

.ft-divider::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.847px;
  background: #fff;
  opacity: 0.5;
  bottom: 0px;
}

/* Media Query */

@media screen and (max-width: 1211px) {
  #feature::before {
    background: url("/assets/feature-bg.jpeg");
    background-position-x: right;
    object-fit: fill;
    top: 0px;
    bottom: 0;
  }
  #feature::after {
    background: radial-gradient(42.52% 48.87% at 35.97% 46.41%, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0) 19.2%, rgba(4, 5, 6, 0.52) 47.48%, #000 99.74%);
    content: "";
    height: 105%;
    position: absolute;
    bottom: 0;
    inset: -10px 0px 0px 0px;
  }
  .newsletter::before {
    left: -50px;
  }
}
@media screen and (max-width: 770px) {
  #feature::before {
    background: url("/assets/feature.png");
    background-position-x: left;
  }
  ._requirements {
    background-position-x: center;
  }
}
@media screen and (max-width: 628px) {
  #feature::before {
    background-position-x: center;
  }
  ._requirements {
    background-position-x: center;
    object-fit: cover;
  }
}
@media screen and (max-width: 483px) {
  #feature::before {
    background-position: center;
  }
  .newsletter::before {
    display: none;
  }
  .newsletter::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    opacity: 0.5;
    background: #010101;
    top: 0;
    bottom: 0;
  }
}
